function Square.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push this 1
pop this 5
push argument 2
pop this 2
push constant 0
pop this 3
push constant 1
pop this 4
push constant 0
not
pop this 6
push pointer 0
return
function Square.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Square.getX 0
push argument 0
pop pointer 0
push this 0
return
function Square.getY 0
push argument 0
pop pointer 0
push this 1
return
function Square.draw 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 5
push this 0
push this 2
add
push this 5
push this 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Square.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Square.move 0
push argument 0
pop pointer 0
push this 1
pop this 5
push this 1
push this 3
add
pop this 1
push this 1
push constant 80
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 80
pop this 1
label IF_FALSE0
push this 1
push this 2
add
push constant 230
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 230
push this 2
sub
pop this 1
label IF_FALSE1
push this 3
push this 4
add
pop this 3
push constant 0
return
function Square.jump 0
push argument 0
pop pointer 0
push constant 5
neg
pop this 3
push constant 0
return
